extends ./concerns/card
block contents
  img.img-circle.girlfrend-mini-window(src="/assets/images/aoi.png")

  .aoi-message(ng-bind="aoimessage").

  a.btn.btn-primary.bold(href="", ng-click="helloaoi()") おはよう！

