extends ./concerns/card
block contents
  h1 あおいと時間管理しよっ！
  img.img-circle(src="/assets/images/aoi.gif")

  .aoi-message(ng-bind="aoimessage").

  a.btn.btn-primary.bold(href="", ng-click="helloaoi()") おはよう！

