doctype
html(manifest="aoi.appcache" ng-app="aoichan")
  head
    title Aoi-caching
    link(rel="stylesheet",href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")

  body
    h1 APPLICATION CACHING!!!
    p sample text

    div(ng-view)

    // Module dependencies.
    script(src='/angular/angular.min.js')
    script(src='/angular-animate/angular-animate.min.js')
    script(src='/angular-cookies/angular-cookies.min.js')
    script(src='/angular-resource/angular-resource.min.js')
    script(src='/angular-route/angular-route.min.js')

    // Initializing.
    script(src='/bootstrap.js')
    script(src='/services/navigator.js')
    script(src='/services/webstorage.js')
    // Load controllers.
    script(src='/controllers/index.js')
    script(src='/controllers/helo.js')

    script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
