@import lib/_twitter-bootstrap
@import lib/_zurui

body
  background: #f6f6f6
  padding: 0px 18px

.application_name
  height: 50px

.aoi-message
  margin-top: 19px
  font-size: 16px
  margin-bottom: 30px
  +balloon-top-border(12px, #fff, 50%, #c6c6c6)
  background: #fff
  padding: 0.7em 0
  border: solid 1px #c6c6c6

.girlfrend-mini-window
  width: 210px
  height: 210px

.card
  padding: 35px 15px
  margin: 0 auto
  background: #fff
  +shadow-box
  text-align: center

.bold
  text-weight: bold
