@import lib/_twitter-bootstrap
@import lib/_zurui

body
  background: #f6f6f6
  padding: 0px 10px

.application_name
  height: 50px

.aoi-message
  font-size: 20px
  margin-bottom: 30px
  +balloon-top-border(12px, #fff, 0px, #d2d2d2)
  +border-radius(3px)
  background: #fff
  padding: 0.4em 0.2em
  border: solid 1px #d2d2d2

.card
  padding: 14px
  margin: 0 auto
  background: #fff
  +shadow-box
  text-align: center

.bold
  text-weight: bold
